body {
  background-color: #fffffe;
  color: #00214d;
}

img {
  border-radius: 20%;
  max-width: 18vw;
  padding: 10px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  color: #001858;
  background-color: #00ebc7;
  font-size: 18px;
  border: solid 3px;
  width: 10vw;
  margin: 5px;
  padding: 5px;
}

button:hover {
  background-color: #fde24f;
}

.gradientText {
  position: relative;
  color: transparent;
  transition-duration: 0.3s;
  background: linear-gradient(
      to right,
      #13f3b9 0%,
      #5878f3 50%,
      transparent 50%
    )
    100% 0 / 200% 200% #474e51;
  background-clip: text;
}

.gradientText:hover {
  background-position: 0 0;
}
